DJANGO_SECRET_KEY=django-insecure-change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# SQLite for local development
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# PostgreSQL example
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=hackathon
# DB_USER=hackathon
# DB_PASSWORD=hackathon
# DB_HOST=localhost
# DB_PORT=5432

# Telegram bot
BOT_TOKEN=
BACKEND_API_URL=
MINI_APP_URL=
PROXY_URL=


# OPTIONAL
LOG_LEVEL=INFO
REQUEST_TIMEOUT=10
